* {
  text-align: center;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(227, 8, 227) 0%,
    rgb(243, 187, 247) 100%
  );
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 530px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
/* 
.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}
*/
